.hero {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: var(--mantine-radius-md);
}

@media (max-width: 48em) {
  .hero {
    height: 500px;
  }
}